.btn-green {
  background-color: #8D8741 !important;
  color: #FFFFFF !important;
  border-radius: 0px !important;
  border: none !important;
  padding: 10px 20px !important;
  text-align: center !important;
  font-size: 18px !important;
  font-weight: bold !important;
  height: 64px;
}
.btn-green-light {
  background-color: #bfb975 !important;
  color: #FFFFFF !important;
  border-radius: 0px !important;
  border: none !important;
  padding: 10px 20px !important;
  text-align: center !important;
  font-size: 18px !important;
  font-weight: bold !important;
  height: 64px;
}
.btn-green-dark {
  background-color: #6a6631 !important;
  color: #FFFFFF !important;
  border-radius: 0px !important;
  border: none !important;
  padding: 10px 20px !important;
  text-align: center !important;
  font-size: 18px !important;
  font-weight: bold !important;
  height: 64px;
}
.btn-green-footer {
  background-color: #bfb975 !important;
  color: #FFFFFF !important;
  border-radius: 0px !important;
  border: none !important;
  padding: 10px 20px !important;
  text-align: center !important;
  font-size: 18px !important;
  font-weight: bold !important;
  position: absolute;
  right: 0px;
  height: 64px;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto';
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.navigation {
  background-color: #FFFFFF;
  color: #8D8741;
}
.navigation a {
  color: #8D8741 !important;
  font-size: large;
}
.navigation div {
  font-size: large !important;
  color: #8D8741 !important;
}
.navigation span {
  font-size: large !important;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
}
.footer p {
  text-align: center;
  color: #FFFFFF;
  font-size: 1.6rem;
  padding: 20px;
}
.main-content {
  background-color: #659DBD;
}
.cell-full {
  width: 100% !important;
}
.image-cell {
  height: 600px;
  background: url('../img/main-header.png') center / cover;
}
.main-text-cell {
  padding: 10px;
  text-align: center;
}
.main-text-cell p {
  font-size: large;
}
.story-cell {
  height: 610px;
  text-overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.story-cell-footer {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
}
.span-index {
  z-index: 2;
}
.first-image {
  background: url('../img/01-Alia-Gruppo-Aleimar.jpg') center / cover;
  height: 360px;
}
.second-image {
  background: url('../img/02-Bizimana-Refugees-International-Japan.jpg') center / cover;
  height: 360px;
}
.third-image {
  background: url('../img/03-Yara-Concern-Worldwide.jpg') center / cover;
  height: 360px;
}
.fourth-image {
  background: url('../img/04-Sabri-Emfasis-remember-to-add-credit-back-in-since-i-cropped-it-out-of-photo.jpg') center / cover;
  height: 360px;
}
.fifth-image {
  background: url('../img/05-Achan-Hope-Ofiriha.jpg') center / cover;
  height: 360px;
}
.sixth-image {
  background: url('../img/06-Shahid-GHNI.jpg') center / cover;
  height: 360px;
}
.user-list {
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  background-color: #F5F5F5;
}
.user-list .item {
  width: 100%;
}
.user-list .card {
  width: 55%;
  height: 150px;
}
.user-list .team {
  margin: 1%;
  text-align: center;
  width: 600px;
  height: 150px;
}
